{% extends "base/frame.html" %}

{% block head_title %}
    Marcas | {{block.super}} 
{% endblock head_title %}
{% block body_context %}


     
<form action="" class="m-form m-form--fit m-form--label-align-right" method="post">


        <h1 class="form-group m-form__group m--margin-top-10">Marcas</h1>
    {% csrf_token %}
        <div class="m-portlet__body">
            <div class="form-group m-form__group m--margin-top-10">
              {{form.as_p}}
           
            </div>

    <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions">
             <input type="submit" value="Crear" class="btn btn-primary"/>

        </div>
   
</div>
</div>
</form>

{% endblock body_context %}

